*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: Verdana, Tahoma, serif, sans-serif;
}
div{
    white-space: pre-wrap;
}

.Content{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.FormCover{
    display: none;
    align-items: center;
    flex-direction: column;  
}
.Enable_FormCover{
    display: flex;
    width: 80%;
    min-width: calc(2vw * 300px);
    max-width: calc(2vw * 800px);
}


.Btn{
    cursor: pointer;
    display: none;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    height: 70px;
    /* width: 300px; */
    width: 50%;
    min-width: calc(2vw * 300px);
    max-width: calc(2vw * 800px);
    border: none;
    border-radius: 50px;
    background-color: blue;
    text-transform: uppercase;
    font-weight: bold;
    /* font-size: 1.5rem; */
    font-size: clamp(1rem, 3vw, 2rem);
    color: white;
}
#FileUpload, #FolderUpload{
    display: none;
}



.FileUpload_txt, .FolderUpload_txt{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Upload_status, .Spreadsheet_FN{
    display: none;
    margin-bottom: 25px;
    color: gray;
    font-weight: bolder;
    /* font-size: 1rem; */
    font-size: clamp(0.5rem, 3vw, 1rem);
    text-align: center;
}
#Proceed{
    margin-top: 10px;
}
.TagetCol_dropdown{
    display: none;
    margin-bottom: 25px;
    color: white;
    font-weight: bolder;
    /* font-size: 1rem; */
    font-size: clamp(1rem, 3vw, 2rem);
    text-align: center;
}


.TableStyle_wrap{
    display: none;
}
.TableStyle_parant{
    display: flex;
    gap: 20px;
    margin: 20px;
    text-align: center;

    /* min-width: 200px; */
    max-width: 700px;
    overflow-x: auto;
}
.TableStyle{
    padding: 20px;
    font-size: clamp(1rem, 3vw, 2rem);
}
tbody.TableStyle > tr > td{
    margin: 0;
    padding: 8px;
    font-size: clamp(1rem, 3vw, 2rem);
    /* background-color: #4caf50; */
    width: 10%;
}
.tbody1{
    display: block;
    max-height: 300px;
    overflow-y: auto;
    padding: 0;
}

.Spreadsheet_FN{
    display: none;
    margin-bottom: 200px;
    color: black;
    font-weight: bolder;
    /* font-size: 1rem; */
    font-size: clamp(2rem, 3vw, 4rem);
    text-align: center;
    text-transform: uppercase;
}
.TagetCol_txt{
    display: none;
    margin-bottom: 25px;
    color: black;
    font-weight: bolder;
    /* font-size: 1rem; */
    font-size: clamp(1rem, 3vw, 2rem);
    text-align: center;
    text-transform: uppercase;
}
.InputError{
    display: none;
    /* margin-top: 25px; */
    margin-bottom: 25px;
    color: black;
    font-weight: bolder;
    /* font-size: 1rem; */
    font-size: clamp(0.5rem, 3vw, 1rem);
    text-align: center;
}

.progress-container {
    display: none;
    margin-top: 10px;
    width: 100%;
    height: 20px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    border: 5px solid black;
    background-color: black;
}
.progress-bar {
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    position: absolute;
    background-color: #4caf50;
}


.Enable{
    display: block;
}